*{
    body{
        background-color: white;
        margin: auto;
        
    }
    p{
        text-align: justify;
        text-indent: 15px;
    }
    main{
        background-color: aliceblue;
        text-align: center;
        border-radius: 15px;
        margin: 25px 25px;
        padding: 10px;
    }
    a{
        color: blue;
    }
    section{
        text-align: center;
        background-color: aquamarine;
        border-radius: 15px;
        margin: 25px 25px;
        padding: 10px;
    }
    section > p{
        text-align: center;
    }

}